html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    
  }
  h1{
    color: #0F3376;
    padding: 2vh;
  }
  p{
    font-size: 1.5rem;
  }
  .button {
    display: inline-block;
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
  }
  .button2 {
    background-color: #f44336;
  }

.box{ 
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  box-shadow: 0px 0px 3px #000000;
  
}

.boxes{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20vw;
  padding-right: 20vw;
  

}
.heading { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20vw; 
  
}

.time {
  display: flex;
  padding-right: 20vw; 
}